body {
    font-family: comic sans ms;
    color: rgb(255, 90, 0);
    font-size: 14px;
    background-image: url("https://qph.cf2.quoracdn.net/main-qimg-b75fb72dadf0c09df48cfbc65a073d79");
    padding: 25px;
    }
  
  h1 {background-color: rgba(0, 0, 0, .85);
    padding-bottom: 6px;
    padding-top: 2px;
    border-radius: 20px;
  }
  
  p {font-size: 16px;
  color: black;
  background-color: rgb(255, 90, 0, .65);
  padding-bottom: 3px;
  padding-top: 0.5px;
  border-radius: 11px;}
  
  h1, p, h4 {
    text-align: center;}
  
  h4 {
    font-size: 20px;
    color: black;
    }
  
  header {
    margin-top: -25px;}
  
  .form {
    font-size: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 70px;
    max-width: 500px;
    min-width: 300px;
    border-radius: 70px;
    background-color: rgba(0, 0, 0, .8)}
  
  fieldset {
    border: none;
    padding: .85rem 0;}
  
  label {
    display: block;
    margin: .17rem 0;}
  
  input, textarea, select {
    margin: 10px 0 0 0;
      width: 100%;
    min-height: 2em;
    background-color: white;
    border: 1px solid rgba(35, 35, 90, 0.8);
    color: rgb(70, 70, 98)}
  
  .input-radio, .input-checkbox {
        float: left;
        margin: 3.25px 5px 0 4.5px;
        width: 5%;
        display: inline-block;
        margin-right: 0.625rem;
        min-height: 1.25rem;
        min-width: 1.25rem;
      }
  
  #reccomendation {
    text-align: left;
    display: block-inline;}
  
  .input-textarea{
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;}
  
  .input-submit{
    display: block;
    width: center;
    padding: 10px;
    font-size: 16px;
    border: 3.5px solid rgba(255, 100, 0);
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 100, 0);
    }